# GitHub Repository URLs
PROJECT_1_GITHUB_URL=
PROJECT_2_GITHUB_URL=
PROJECT_3_GITHUB_URL=
PROJECT_4_GITHUB_URL=
PROJECT_5_GITHUB_URL=

# Live Application URLs
PROJECT_1_LIVE_URL=
PROJECT_2_LIVE_URL=
PROJECT_3_LIVE_URL=
PROJECT_4_LIVE_URL=
PROJECT_5_LIVE_URL=
