@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/noir-et-blanc");
@import url("https://fonts.cdnfonts.com/css/marhey");
@import url("https://db.onlinewebfonts.com/c/9153284f24dd38de3933d9d98f21d82a?family=Haghisty_DEMO");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Orbitron:wght@400..900&display=swap");
// 	font-family: 'Marhey', sans-serif;
// 	src: url('https://fonts.cdnfonts.com/css/marhey');
// 	font-style: normal;
// 	font-weight: 400;
// }
* {
  margin: 0;
  box-sizing: border-box;
  &:after,
  &:before {
    box-sizing: border-box;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}

button,
input,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
video,
canvas,
svg {
  // max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

// variables
$green-color: #6cff8d;
$green-color-dark: #6cff8c7a;
$red-color: #f44336;
$blue-color: #2196f3;
$purple-color: linear-gradient(to right, #6464e9, #800080d0, #c83c3c);
$darkish-blue: #060b11;
$box-shadow-blue1: rgba(30, 40, 181, 0.81);
$box-shadow-blue2: rgba(31, 38, 135, 0.67);

// Predefined classes
.section {
  padding: 1rem;
  overflow: hidden;
  min-height: 100vh;
  padding-top: 5rem;
  @media (min-width: 650px) {
    padding: 5rem;
  }
  &__header {
    &-title {
      font-size: 1rem;
      font-weight: 400;
      color: #666;
    }
    &-subtitle {
      font-size: 1.75rem;
      font-weight: 700;
    }
  }
}
